{:swagger "2.0"
 :info {:title "chat-server"
        :description "チャットAPI"
        :version "1.0.0"}
 :host "localhost:8080"
 :basePath "/api"
 :schemes [:http]
 :consumes ["application/json;charset=utf-8"]
 :produces ["application/json;charset=utf-8"]
 :tags [{:name :authentication
         :description "認証"}
        {:name :channels
         :description "チャンネル"}]
 :paths {"/authentication"
         {:get {:tags [:authentication]
                :summary "ログインユーザ情報の取得"
                :description ""
                :parameters []
                :responses {200
                            {:description "200 OK"
                             :schema
                             {:type :object
                              :properties
                              {:data {:$ref "#/definitions/user"}}
                              :example {:data {:id 2
                                               :uid "lagenorhynque"
                                               :name "lagénorhynque"
                                               :avatar ""}}}}
                            401
                            {:$ref "#/responses/unauthorized"}}}}
         "/authentication/login"
         {:post {:tags [:authentication]
                 :summary "ログイン"
                 :description ""
                 :parameters [{:in :body
                               :name :user
                               :description "ユーザ"
                               :required true
                               :schema
                               {:type :object
                                :properties
                                {:uid {:type :string
                                       :description "UID"}}
                                :example {:uid "lagenorhynque"}}}]
                 :responses {200
                             {:description "200 OK"
                              :schema
                              {:type :object
                               :properties
                               {:data {:$ref "#/definitions/user"}}
                               :example {:data {:id 2
                                                :uid "lagenorhynque"
                                                :name "lagénorhynque"
                                                :avatar ""}}}}
                             400
                             {:$ref "#/responses/not_found"}}}}
         "/authentication/logout"
         {:delete {:tags [:authentication]
                   :summary "ログアウト"
                   :description ""
                   :parameters []
                   :responses {204
                               {:description "204 No Content"}}}}
         "/channels"
         {:get {:tags [:channels]
                :summary "チャンネル名の一覧取得"
                :description ""
                :parameters []
                :responses {200
                            {:description "200 OK"
                             :schema
                             {:type :object
                              :properties
                              {:data {:type :array
                                      :items {:$ref "#/definitions/channel"}}}
                              :example {:data [{:id 1
                                                :name "general"}
                                               {:id 2
                                                :name "random"}]}}}}}
          :post {:tags [:channels]
                 :summary "チャンネルの作成"
                 :description ""
                 :parameters [{:in :body
                               :name :channel
                               :description "チャンネル"
                               :required true
                               :schema {:$ref "#/definitions/channel"}}]
                 :responses {200
                             {:description "200 OK"
                              :schema
                              {:type :object
                               :properties
                               {:data {:type :object
                                       :properties
                                       {:id {:type :integer
                                             :description "チャンネルID"}}}}
                               :example {:data {:id 3}}}}
                             400
                             {:$ref "#/responses/bad_request"}}}}
         "/channels/{channel_id}"
         {:get {:tags [:channels]
                :summary "チャンネルの取得"
                :description ""
                :parameters [{:in :path
                              :name :channel_id
                              :description "チャンネルID"
                              :required true
                              :type :integer
                              :x-example 1}]
                :responses {200
                            {:description "200 OK"
                             :schema
                             {:type :object
                              :properties
                              {:data {:$ref "#/definitions/channel"}}
                              :example {:data {:id 1
                                               :name "general"}}}}
                            400
                            {:$ref "#/responses/bad_request"}
                            404
                            {:$ref "#/responses/not_found"}}}}
         "/channels/{channel_id}/messages"
         {:get {:tags [:channels]
                :summary "チャンネル内メッセージの一覧取得"
                :description ""
                :parameters [{:in :path
                              :name :channel_id
                              :description "チャンネルID"
                              :required true
                              :type :integer
                              :x-example 1}]
                :responses {200
                            {:description "200 OK"
                             :schema
                             {:type :object
                              :properties
                              {:data {:type :array
                                      :items {:$ref "#/definitions/message"}}}
                              :example {:data [{:id 1
                                                :body "Welcome to general channel!"
                                                :user_id 1
                                                :channel_id 1
                                                :user_uid "anon"
                                                :user_name "Anonymous"
                                                :user_avatar ""
                                                :channel_name "general"}
                                               {:id 2
                                                :body "はじめてのメッセージを投稿してみましょう。"
                                                :user_id 1
                                                :channel_id 1}]}}}
                            400
                            {:$ref "#/responses/bad_request"}
                            404
                            {:$ref "#/responses/not_found"}}}
          :post {:tags [:channels]
                 :summary "指定チャンネルへのメッセージの追加"
                 :description ""
                 :parameters [{:in :path
                               :name :channel_id
                               :description "チャンネルID"
                               :required true
                               :type :integer
                               :x-example 1}
                              {:in :body
                               :name :message
                               :description "メッセージ"
                               :required true
                               :schema {:$ref "#/definitions/message"}}]
                 :responses {200
                             {:description "200 OK"
                              :schema
                              {:type :object
                               :properties
                               {:data {:type :object
                                       :properties
                                       {:id {:type :integer
                                             :description "メッセージID"}}}}
                               :example {:data {:id 3}}}}
                             400
                             {:$ref "#/responses/bad_request"}
                             404
                             {:$ref "#/responses/not_found"}}}}}
 :responses {:bad_request {:description "400 Bad Request"
                           :schema {:$ref "#/definitions/error"}}
             :unauthorized {:description "401 Unauthorized"
                            :schema {:$ref "#/definitions/error"}}
             :not_found {:description "404 Not Found"
                         :schema {:$ref "#/definitions/error"}}}
 :definitions {:channel {:type :object
                         :properties
                         {:id {:type :integer
                               :description "チャンネルID"}
                          :name {:type :string
                                 :description "チャンネル名"}}
                         :required [:name]
                         :example {:name "times_twitter"}}
               :message {:type :object
                         :properties
                         {:id {:type :integer
                               :description "メッセージID"}
                          :body {:type :string
                                 :description "メッセージ本文"}
                          :user_id {:type :integer
                                    :description "ユーザID"}
                          :channel_id {:type :integer
                                       :description "チャンネルID"}}
                         :required [:body :user_id]
                         :example {:body "Hello, world!"
                                   :user_id 2}}
               :user {:type :object
                      :properties
                      {:id {:type :integer
                            :description "ユーザID"}
                       :uid {:type :string
                             :description "UID"}
                       :name {:type :string
                              :description "ユーザ名"}
                       :avatar {:type :string
                                :description "アバター"}}
                      :required [:uid :name]
                      :example {:uid "lagenorhynque"
                                :name "lagénorhynque"}}
               :error {:type :object
                       :properties
                       {:errors {:type :object}}}}}
