{:duct.core/environment :development

 :duct.database.redis/carmine
 {:spec {:host "127.0.0.1"}}

 :duct.database.sql/hikaricp
 {:jdbc-url "jdbc:mysql://localhost:3307/chat_server?user=chat_server_dev&password=password123&useSSL=false"}}
